# Copie para .env.ci e preencha com seus valores
FIGMA_TOKEN=
FIGMA_FILE_KEY=UQwbW2cybw7SGzlBWHlgcr

VERCEL_TOKEN=
VERCEL_ORG_ID=
VERCEL_PROJECT_ID=

# Variáveis opcionais do app
SUPABASE_URL=
SUPABASE_ANON_KEY=
